body {
  background-color: black;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Bar */

.active{
  color: #f85206ea;
}
.fa-home{
  color: #f85206ea;
}
.topnav {
  overflow: hidden;
  background-color: black;
  border-bottom: 2px solid #f85206ea;
  position: fixed;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  background-color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
}
.topnav a:hover {
  color: #f85206ea;
}
.topnav .icon {
  display: none;
}

/* Content Below Navigation bar and Above Projects Section*/

.proffession{
    color: white;
    display: inline-block;
    border: 2px solid #f85206ea;
    padding: 10px 30px;
    padding-right: 40px;
    border-right: 14px solid #f85206ea;
    margin-left: 13px;
    margin-top: 105px;
}
#rg{
  height: 300px;
}
.content{
  float: right;
  margin-right: 284px;
  margin-top: 57px;
}
.namee{
  color: #f85206ea;
  text-align: left;
  margin-left: 15px;
  margin-top: -6px;
  font-weight: 400;
  animation: color-change 3s infinite;
}
@keyframes color-change {
  0% { color: #f85206ea; }
  25% { color: #f85206ea; }
  50% { color: #f85206ea; }
  75% { color: #ffffffea; }
  100% { color: #ffffffea; }
}
.about-me{
  color: #f2f2f2;
  margin-left: 10px;
  animation: anim 2s;
  animation-iteration-count: 1;
}
@keyframes anim{
0% { margin-left: 10px; }
25% { margin-left: 0px}
}

/* Projects Section */

.card {
  border: 2px solid white;
  border-radius: 15px;
  margin-left: 11px;
  padding-bottom: 13px;
  transition: 0.3s;
  width: 40%;
}
 .projects{
   color: white;
   text-align: left;
   margin-left: 15px;
   margin-top: 28px;
   font-weight: 400;
}
.card:hover {
  box-shadow: 0 -10px 42px 0 white;
}
.container {
  padding: 2px 16px;
}
.project-name{
  color: white;
}
#bg{
  border-radius: 15px;
}
.project-title{
  color: #f2f2f2;
}
.project-btn{
  background-color: #f85206ea;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  height: 31px;
  width: 75px;
}
.projects-a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* about section */

#dy{
  margin-top: -107px;
  margin-left: 548px;
  border: 2px solid white;
  border-radius: 17px;
}
.aboutt{
  color: white;
  text-align: left;
  margin-left: 14px;
}
.abouttt{
  color: white;
  margin-right: 861px;
  margin-left: 14px;
}
i{
  color: aliceblue; 
  /* font-size: 50px; 
  margin-left: 594px */
}
.contact{
  color: #f2f2f2;
}
.gmail{
  margin-left: 488px;
}
.contact-icon{
  font-size: 50px;
}


/* media queries for making navigation bar responsive */

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* media query for responsiveness */
@media screen and (max-width: 480px){
  .content{
    margin-right: 150px;
  }
  #rg{
    height: 207px;
  }
  .proffession{
    margin-top: -29px;
  }
  .abouttt{
    color: white;
    margin-right: 1px;
    margin-left: 3px;
  }
  #dy{
    margin-top: 1px;
    margin-left: 92px;
  }
  .gmail{
    margin-left: 167px;
  }
}
@media screen and (max-width: 350px){
  .content{
    margin-right: 83px;
    margin-top: 76px;
  }
  .card{
    width: 87%;
  }
  #dy {
    margin-left: 41px;
  }
  .gmail {
    margin-left: 104px;
}
} 
@media screen and (max-width: 300px){
  .content{
    margin-right: 41px;
  }
  #dy{
    margin-left: 37px;
    height: 139px;
  }
  .gmail{
    margin-left: 57px;
  }
}